{{ define "content" }}

<div class="container">
<div class="card">
    <img src={{.Post.ThumbnailURL}} class="card-img-top" alt="Post ThumbnailURL">
    <h4 class="card-header">{{.Post.Name}}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <p>Languages</p>
            </div>
            <div class="col">
                {{ range .Post.Language }}
                <span class="badge badge-info">{{.}}</span>
                {{ end }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-auto">
                <p>Subjects</p>
            </div>
            <div class="col">
                {{ range .Post.Subjects }}
                    <span class="badge badge-info">{{.}}</span>
                {{ end }}
            </div>
        </div>
        <br>
    </div>
    <div class="card-footer bg-transparent">
        <div class="container" id="blogContent">
        </div>
    </div>
</div> 
</div>

<script>
    $(function() {
        $('#blogContent').load({{print "/api/blog/post?id=" .Post.ID }})
    })
</script>

{{ end }}