
{{ define "content"}}

<style>
	    body {
  background:#f1f7fc;
}

 .yase .jumbotron {
	margin-bottom: 0px;
	background-image: url(/static/image/preview_yase_creator.JPG);background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.1em 0.1em 0.1em;
}

.icon {
			font-size: 64px;
		}
    </style>
    <div class="yase">
<div class="jumbotron">
  <div class="nav-agency">
    <div class="navbar navbar-static-top"> 
      <!-- navbar-fixed-top -->
      <div class="navbar-inner">
        <div class="container"> 
	    <a class="illustration" href="index.html"> <i class="typcn typcn-starburst-outline">YASE</i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container show-case-item">
    <h1> YET ANOTHER SMALL ENGINE<br />
       It's a homework from school </h1>
    <p> YASE is software to manage and create 3D environment</p>
    <!-- Regarde si on n'est connecter -->
    <a href="/auth/login" class="btn btn-primary">Login to use the software in your browser</a>
    <div class="clearfix"> </div>
  </div>
</div>
    </div>
<div class="container">
  <div class="marketing">
    <h1> Welcome to the yase project </h1>
    <p class="marketing-byline"> A modular framework for experimenting with 3D graphics</p>

    <hr class="soften">
    <div class="row-fluid textleft">
      <div class="span8">
        <h2> <span class="firstword">Goal</span> of the project</h2>
        <p> This project start of as my final assignement in my entry course on 3D programming with OpengGL</p>
        <p> The initial goal where the following : </p>
        <div class="row-fluid bordertop">
          <div class="span4">
            <ul class="services">
              <li><i class="icon-user"></i> Manage all the file of a interactive 3D environment</li>
              <li><i class="icon-th"></i> Manage the reading, allocation and deallocation of the assets </li>
              <li><i class="icon-globe"></i> Create a software to import asset and create 3D environment</li>
              <li><i class="icon-book"></i> Create a library to use the environment to create clips or small game</li>
            </ul>
          </div>
            <p>But things got more complex when i discovered Emscripten. <br>
            I decide to make my application work on the browser with asset serve by a web server</p>
          <div class="span4">
            <ul class="services">
              <li><i class="icon-resize-small"></i> Responsive design</li>
              <li><i class="icon-eye-open"></i> Cross-everything</li>
              <li><i class="icon-list-alt"></i> Documentation</li>
              <li><i class="icon-cog"></i> jQuery plugins</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span4">
        <h2> <span class="firstword">Agency</span> Perks</h2>
        <div class="benefit first clearfix"> <span class="icon flexible-hours"></span><span class="benefit_text">
          <div class="perks-title"> Flexible Hours</div>
          <p> Come late at work or take free time if you want, we focus on results.</p>
          </span> </div>
        <div class="benefit clearfix"> <span class="icon coffee-day"></span><span class="benefit_text">
          <div class="perks-title"> Surprise Treats</div>
          <p> Every week we have one day that is dedicated to surprise treat.</p>
          </span> </div>
        <div class="benefit clearfix"> <span class="icon personal-projects"></span><span class="benefit_text">
          <div class="perks-title"> Personal Projects</div>
          <p> We support you... to build your very own projects.</p>
          </span> </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {

            var showCaseItems = $('.show-case-item').hide();

            var splashes = $('.splash').hide();
            //get each image for each slide and set it as a background of the slide
            //            splashes.each(function () {
            //                var img = $(this).find('img');
            //                var imgSrc = img.attr('src');
            //                img.css('visibility', 'hidden');
            //                $(this).css({ 'background-image': 'url(' + imgSrc + ')', 'background-repeat': 'no-repeat' });
            //            });

            splashes.eq(0).show();
            showCaseItems.eq(0).show();

            var prevIndex = -1;
            var nextIndex = 0;
            var currentIndex = 0;

            $('#banner-pagination li a').click(function () {

                nextIndex = parseInt($(this).attr('rel'));

                if (nextIndex != currentIndex) {
                    $('#banner-pagination li a').html('<img src="assets/img/slidedot.png" alt="slide"/>');
                    $(this).html('<img src="assets/img/slidedot-active.png" alt="slide"/>');
                    currentIndex = nextIndex;
                    if (prevIndex < 0) prevIndex = 0;

                    splashes.eq(prevIndex).css({ opacity: 1 }).animate({ opacity: 0 }, 500, function () {
                        $(this).hide();
                    });
                    splashes.eq(nextIndex).show().css({ opacity: 0 }).animate({ opacity: 1 }, 500, function () { });

                    showCaseItems.eq(prevIndex).css({ opacity: 1 }).animate({ opacity: 0 }, 500, function () {
                        $(this).hide();
                        showCaseItems.eq(nextIndex).show().css({ opacity: 0 }).animate({ opacity: 1 }, 200, function () { });
                    });

                    prevIndex = nextIndex;
                }

                return false;
            });

        });
    </script>
{{ end }}