
{{ define "content" }}

<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to my humble abode</h1>
  <p class="lead">This website is about me , myself & I</p>
  <hr class="my-4">
  <p>I'am William Quintal. Trying to be a Software developper , i'm a student in the meantime <br>
     The goal of the website is to share the software and the knowledge that i'm working on <br><br>
      And mostly for fun and xp
  </p>
    <div class="row">
        <div class="col-sm-3">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/me" role="button">Learn more about me</a>
            </p>
        </div>
        <div class="col-sm-3">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/project" role="button">Learn about my project</a>
            </p>
        </div>
    </div>
</div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card w-75">
        <div class="card-body">
            <h4 class="card-title">Youtube</h4>
            <p class="card-text">I have videos on youtube go watch them they may be funny or interesting</p>
            <a href="https://www.youtube.com/channel/UCfWKIzcoeyBqdqw0NYqelJw" class="btn btn-primary">There it is</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">Github</h4>
            <p class="card-text">Go see on what iam currently working on</p>
            <a href="https://github.com/berlingoqc" class="btn btn-primary">Here it is</a>
        </div>
      </div>
    </div>
  </div>

</div>


{{ end }}