{{ define "content" }}

<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Blog series</h1>
            <p class="lead">
                When i wan't to dig deep in a subject, i usually create a serie of
                blog post instead of a big one
            </p>
        </div>
    </div>
    {{ range .Series }}
    <div class="card">
        <img src={{.ThumbnailURL}} class="card-img-top" alt="Post ThumbnailURL">
        <h4 class="card-header">{{.Title}}</h4>
        <div class="card-body">{{.Description}}</div>
        <hr class="my-4">
        <ul>
            {{ range .Posts }}
            <li><a href=/blog/post?id={{.ID}}>{{.Name}}</a></li>
            {{ end }}
        </ul>
        <div class="card-footer">
            <a class="btn btn-success" href=/blog/serie?id={{.ID}}­>Details</a>
        </div>
    </div>
    <br>
    <br>
    {{end}}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Single blog post</h1>
            <p class="lead">
                Those are my blog post, i write about Programming , Computer Software , OS , Life 
                , maybe politics, culture and philosophy since it goes hand with the previous subjects.
            </p>
        </div>
    </div>
    {{ range .posts }}
    <div class="card">
        <img src={{.ThumbnailURL}} class="card-img-top" alt="Post ThumbnailURL">
        <h4 class="card-header">{{.Name}}</h4>
        <div class="card-body">
            <div class="row">
                <div class="col-auto">
                    <p>Languages</p>
                </div>
                <div class="col">
                    {{ range .Language }}
                        <span class="badge badge-info">{{.}}</span>
                    {{ end }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-auto">
                    <p>Subjects</p>
                </div>
                <div class="col">
                    {{ range .Subjects }}
                        <span class="badge badge-info">{{.}}</span>
                    {{ end }}
                </div>
            </div>
            <br>
            <p class="lead">{{.Description}}</p>
        </div>
        <div class="card-footer bg-transparent">
            <a class="btn btn-success" href=/blog/post?id={{.ID}}>Read</a>
        </div>
    </div> 
    <br>
    <br>
    {{ end }}

</div>

{{ end }}