{{ define "content" }}
<div class="card">
    <div class="col-auto" style="padding: 5px">
        <img src={{ .ghaccount.ImgURL }} class="img-thumbnail mx-auto d-block rounded-circle" alt="" height="100" width="100">
        <div class="card-block px-2">
            <h3 class="card-title">GitHub Account <a href={{.ghaccount.URL}}>{{.Name }}</a></h3>
            <p class="lead">
                <img src="/static/icons/octicons/location.svg" alt=""> Location <b>{{.Location}}</b>
            </p>
            <p class="lead">
                <img src="/static/icons/octicons/mail.svg" alt=""> Email  <b>{{.Email}}</b>
            </p>
            <p class="lead">
                {{.Bio}}
            </p>
        </div>

        <div class="card-block">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="/static/icons/octicons/repo.svg" alt=""> Public repository
                    <span class="badge badge-secondary">{{.NbrPublicRepo}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="/static/icons/octicons/logo-gist.svg" alt=""> Public Gists
                    <span class="badge badge-secondary">{{.NbrPublicGists}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="/static/icons/octicons/person.svg" alt="">Followers
                    <span class="badge badge-secondary">{{.NbrFollorwers}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="/static/icons/octicons/person.svg" alt="">Following
                    <span class="badge badge-secondary">{{.NbrFollowing}}</span>
                </li>
            </ul>
        </div>
</div>
</div>

{{ end }}