
{{ define "content" }}

<script>
    $(document).ready(function() {
        $("#forgot").on('click',function() {
            $('.error').text("Tes dans marde").fadeIn(400).delay(2000).fadeOut(400);
        });
        
        $("#submit").on('click',function() {
            var user = $("#user").val();
            var psw = $("#password").val();
            if(user === "") {
                $('.error').text("Entrer nom d'utilisateur").fadeIn(400).delay(2000).fadeOut(400);
                return;
            } 
            if(psw === "") {
                $('.error').text("Entrer un mot de passe").fadeIn(400).delay(2000).fadeOut(400);
                return;
            } 
            $this = $(this);
            $(this).button('loading');
            $.ajax({
                type: "GET",
                url: "/api/auth",
                data: "username="+user+"&password="+psw
                
            }).done(function () {
                // redirige vers index
                window.location.replace('/account/dashboard');
                
            }).fail(function (xhr, status,err) {
                var resp = xhr.responseText;
                $this.button('reset');
                
                if(resp === "username") {
                    $('.error').text("Utilisateur invalide").fadeIn(400).delay(2000).fadeOut(400);
                } else  if(resp === "password") {
                    $('.error').text("Mot de passe invalide").fadeIn(400).delay(2000).fadeOut(400);
                } else {
                    alert(resp);
                }
            });
            return false;
        });
    });
</script>
<div class="container">
    <div class="login-clean">
        <form role="form" action="">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <h1>wquintal.ca</h1>
            </div>
            <div id="divuser" class="form-group">
                <input class="form-control" type="text" name="user" id="user" required="true" placeholder="User">
            </div>
            <div id="divpassword" class="form-group">
                <input class="form-control" type="password" name="password" id="password" required="true" placeholder="Password">
            </div>
            <div class="form-group">
                <button id="submit" class="btn btn-primary btn-block" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" type="button">Log in</button>
            </div>
            <a id="#forgot" class="forgot">Forgot your connection info ?</a>
            <a id="newaccount" href="/auth/new" class="forgot">Want an account ?</a>
        </form>
    </div>
    <div class="error" style='display:none'></div>
</div>

{{ end }}