
{{ define "content" }}

<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Me for My Enformation</h1>
  <hr class="my-4">
  <p>Here are the link for the page the really learn to real stuff about myself</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/personal" role="button">Personal</a>
    <a class="btn btn-primary btn-lg" href="/professional" role="button">Professional</a>
    <a class="btn btn-primary btn-lg" href="/project" role="button">Projects</a>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a>
  </p>
</div>
</div>


{{ end }}