{{ define "content" }}

<script>
		$(document).ready(function() {
			$("#forgot").on('click',function() {
				$('.error').text("Tes dans marde").fadeIn(400).delay(2000).fadeOut(400);
			});
			
			$("#submit").on('click',function() {
				var user = $("#user").val();
				var psw = $("#password").val();
				var conf_psw = $("#confirmation_password").val();
				if(user === "") {
					$('.error').text("Entrer nom d'utilisateur").fadeIn(400).delay(2000).fadeOut(400);
					return;
				} 
				if(psw === "") {
					$('.error').text("Entrer un mot de passe").fadeIn(400).delay(2000).fadeOut(400);
					return;
				}
				if(conf_psw === "" || conf_psw !== psw) {
					$(".error").text("Confirmation du mot de passe invalide").fadeIn(400).delay(2000).fadeOut(400);
					return;
				}
				$this = $(this);
				$(this).button('loading');
				
				var accout_new = {
					username: user,
					password: psw
				};
				
				var json_new = JSON.stringify(accout_new);
				
				$.ajax({
					type: "POST",
					url: "/helios/api/account",
					dataType:	"json",
					data: json_new
				}).done(function () {
					// redirige vers index
					window.location.replace('/helios/dashboard.jsp');
					
				}).fail(function (xhr, status,err) {
					var resp = xhr.responseText;
					$this.button('reset');
					
					if(resp === "username") {
						$('.error').text("Utilisateur invalide").fadeIn(400).delay(2000).fadeOut(400);
					} else  if(resp === "password") {
						$('.error').text("Mot de passe invalide").fadeIn(400).delay(2000).fadeOut(400);
					} else {
							window.location.replace('/helios/dashboard.jsp');
					}
				});
				return false;
			});
		});
	</script>
	<div class="container">
		<div class="login-clean">
			<form role="form" action="">
				<h2 class="sr-only">Login Form</h2>
				<div class="illustration">
					<h1>Account Request</h1>
				</div>
				<div id="divuser" class="form-group">
					<input class="form-control" type="text" name="user" id="user" required="true" placeholder="Email">
				</div>
				<div class="form-group">
					<button id="submit" class="btn btn-primary btn-block" data-loading-text="<i class='fa fa-spin fa-spinner'></i>" type="button">Apply</button>
				</div>
			</form>
		</div>
		<div class="error" style='display:none'></div>
	</div>
{{ end }}